<div class="container">
  <div class="aside">
    <div class="header">
      <p>Luma</p>
      vanila
    </div>

    <div class="main-text">
      Hi Cookie! Are you sick there?! We assure you that on this day you will
      not see anything more beautiful. We enclosed the unique aroma of ginger
      cookies in a coconut shell.
    </div>

    <div class="main-text" ng>
      The aroma is our ancient resident that combines spicy, woody and oriental
      notes with a drop of sweetness. Its unique appearance will improve the
      mood on cool spring and summer evenings, and the aroma will bring a smile
      to your face.
    </div>

    <div class="center-action-button">
      <div class="center-action-button-text">
        <p>BUY</p>
        <p>NOW</p>
      </div>
    </div>
  </div>

  <div class="transparent-rectangle"></div>
</div>
